/* tweak collapse sidebar */
.go-collapse-sidebar {
    position: fixed;
    width: ${configManager.config.collapseSidebar.collapsedWidth};
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background: ${configManager.config.collapseSidebar.collapsedColor};
    transition: 142ms;
    font-size: 1em;
    z-index: 420690;
    }
.go-collapse-sidebar:hover {
    width: min-content;
    height: 100%;
    padding-right: 12px;
    overflow-y: scroll;
    background: black;
    opacity: ${configManager.config.collapseSidebar.expandedOpacity};
}

/* add some top/bottom paddings */
#tag-list.go-tag-list-top-bottom-padding {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* fix post list grid */
#container.go-collapse-sidebar-container-tweak {
    grid-template-columns: 0px auto;
}
@media only screen and (max-width: 850px) {
    #container.go-collapse-sidebar-container-tweak {
        grid-template-columns: auto;
    }
}

/* fix tag count wrap */
#tag-list li.go-collapse-sidebar-tags-list-tweak {
    width: max-content !important;
    display: block;
}

/* fix tag category hiding*/
@media only screen and (max-width: 850px) {
    .sm-hidden.go-sm-unhidden {
        display: contents;
    }
}

/* fix mobile spacing */
.go-mobile-unspacing {
    margin-right: 0;
}